projectName: magmar
domain: http://localhost:33333
env: local

database:
  dialect: mysql
  host: 127.0.0.1
  port: 53306
  dbname: magmar
  username: root
  password: mysqlvotmdnjem

readOnlyDatabase:
  dialect: mysql
  host: 127.0.0.1
  port: 53306
  dbname: magmar
  username: root
  password: mysqlvotmdnjem

upbitAPI:
  accessKey: aaa
  secretKey: bbb

newsAPI:
  apiKey: aaa

openAI:
  apiKey: aaa

telegram:
  token: aaa
  chatID: aaa

dynamodb:
  region: aaa
  endpoint: aaa

header:
  x-api-key: aaa
